body {background-color:#000000;}

#timedate {
  font: small-caps lighter 43px/150% "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  text-align:left;
  width: 50%;
  margin: 70px auto;
  color:#fff;
  border-left: 3px solid #ed1f24;
  padding: 40px;
}